html {
   font-size: 12px; /*declaring root element in pixels*/
}

img {
    width: 100%;
    z-index: 0;
}

.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 66px;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 2.5rem; /*displayed at 30px  */
	letter-spacing: 1.5px;
	color: white;
    text-align: center;
    line-height: 19px;
}

a {
    color: #e1c057;
    text-decoration: none;
}

footer a {
    color: #2599BF;
    text-decoration: none;
}

a:hover{
    background-color: #e1c057;
    color: white;
    text-decoration: none;
}

 footer a:hover{
    background-color: #2599BF;
    color: white;
    text-decoration: none;
}

 #header-box {
    background-color: #e1c057;
    width: 100%;
    height: 179px;
    margin-bottom: 30px;
   }


.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: -199px;
    /*margin-bottom: 50px;*/
    padding: 0 15px;
    z-index: 10;
    /*position: relative;*/
    /*top: 9px;*/
}

#top {
    font-size: 1.5rem;
    /*text-shadow: 1px 1px 20px black;*/
    line-height: 34px;
    margin-bottom: -4px;
}

#mid {
    font-size: 4rem; /*displayed at 48px  */
    letter-spacing: 3px;
    font-weight: 900;
    line-height: 47px;
    /*text-shadow: 1px 1px 25px black;*/
    margin-bottom: 2px;
}

#bottom {
    font-size: 1.75rem;
    /*margin-top: -10px;*/
    /*text-shadow: 1px 1px 20px black;*/
}

p.intro {
    color: black;
    font-size: 1.0rem;
    font-weight: 400;
    line-height: 18px;
    margin-top: 19px;
    margin-bottom: 40px;
}

button {
    color: black;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.25px;
    margin-bottom: 15px;
    height: 25px;
    /*background-color: #e1c057;*/
    border: 1px solid #e1c057;
    margin-left: 10px;
}

.main-head {
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}


/*#key-findings.box {*/
    /*background-color: rgba(225, 192, 87, 0.50);*/
    /*padding: 20px;*/
    /*height:400px;*/
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
/*}*/

.big-number {
    width: 250px;
    /*height: 105px;*/
    /*padding: 6px 0 0 26px;*/
    margin-bottom: 40px;
}

.big-number p {
    /*color: black;*/
    color: #2599BF;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: 1.5px;
    font-weight: 700;
}

p.bn {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 5rem;
    color: black;
    text-align: left;
    width: 250px;
    height: 70px;
}

/* to correct a letterspacing issue */
span {
    padding-left: 0px;
    padding-top: 40px;
}

.col-lg-2 {
    padding: 0 0 0 20px;
    border-left: 10px solid #e1c057;
}

.chart-title {
    height: 70px;
}

.chart-title p {
    color: black;
    font-size: 1.5rem;
    text-align: left;
    margin-bottom: 0px;
    font-weight: 400;
}

.menu-select-thing {
    font-size: 1.25rem;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.25px;
    font-weight: 400;
    margin-bottom: 15px;
    padding-left: 46px;
}

.menu-select-thing p {
    color: black;
    text-align: left;
    font-size: 1.25rem;
    margin-bottom: 2px;
}

.select-title {
     /*color: black;*/
    color: #2599BF;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.25;
    letter-spacing: 1.5px;
    font-weight: 700;
    padding-bottom: 10px;
}

div.dc-chart {
    margin-bottom: 47px;
}

/*.timeline-Tweet  u-cf js-tweetIdInfo {*/
    /*padding: 20px;*/
/*}*/

#tweet-box {
    padding: 20px;
    padding-top: 0;
}

hr {
    border-top: 4px double gray;
    margin-top: 49px;
    margin: 49px 15px 31px 15px;
}

p.tweet {
    color: black;
    font-size: 1.0rem;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    letter-spacing: 1.10px;
    margin-bottom: 20px;
}

.tweet-logo {
    width: 150px;
    margin: 20px 0 15px 0px;
}

#coram {
    margin-bottom: 28px;
}

#chart-row2 {
    margin-bottom: 40px;
}

/*.dc-chart g.row text {*/
    /*font-family: 'Raleway', sans-serif;*/
/*}*/

text.y-axis-label.y-label,text.x-axis-label,.dc-chart g.row text {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

g .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

footer {
    padding: 20px 0 20px 0;
}


/* ----------- MEDIA QUERIES ------------------------ */
/* ---------------------------------------------------*/
/* ----------- MEDIA QUERIES ------------------------ */


@media (min-width: 573px) {
    #header-box {
        height: 125px;
    }

    .header {
        margin-top: -148px;
    }

    /*p.tweet {*/
    /*width: 200%;*/
    /*}*/
    
    /*hr {*/
        /*display: none;*/
    /*}*/
}

@media (min-width: 768px) {
    #header-box {
        display: none;
        /*height: 1px ;*/
    }

    .header {
        margin-top: -134px;
    }

    .box {
        padding-right: 60px;
    }
    #top {
        font-size: 2.25rem;
        text-shadow: 1px 1px 20px black;
    }

    #mid {
        text-shadow: 1px 1px 25px black;
        margin: 6px 0;
    }

    #bottom {
        text-shadow: 1px 1px 20px black;
    }

    #data-dashboard {
        text-align: center;
    }

    #tweet-box {
        padding: 56px;
        padding-top: 0;
    }

    #tweet-left {
        border-right: 4px double gray;
    }

    .big-number {
        margin-left: 30px;
    }


    hr {
        /*border-top: 4px double gray;*/
        /*margin-top: 49px;*/
        /*margin: 49px 15px 31px 15px;*/
        display: none;
    }

}

@media only screen and (min-width: 991px) {
    /* For desktop: */
    #tweet-box {
        padding: 20px;
        padding-top: 0;
        border-left: 4px double gray;
    }

    #tweet-left {
        border-right: 0px dotted gray;
    }

    hr {
        /*border-top: 4px double gray;*/
        /*margin-top: 49px;*/
        /*margin: 49px 15px 31px 15px;*/
        display: block;
    }

    .main-head {
        text-align: left;
        padding-left: 15px;
    }

}