html {
   font-size: 12px; /*declaring root element in pixels*/
}

img {
    width: 100%;
    z-index: 0;
}

p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 2.5rem; /*displayed at 30px  */
	letter-spacing: 1.5px;
	color: white;
    text-align: center;
}

a {
    color: #e1c057;
    text-decoration: none;
}

a:hover{
    background-color: #e1c057;
    color: white;
    text-decoration: none;
}

.header {
    margin-left: auto;
    margin-right: auto;
    margin-top: -160px;
    margin-bottom: 50px;
    z-index: 10;
}

#top {
    font-size: 2.5rem;
    margin-bottom: -3px;
    text-shadow: 1px 1px 20px black;
}

#mid {
    font-size: 4rem; /*displayed at 48px  */
    letter-spacing: 3px;
    font-weight: 900;
    text-shadow: 1px 1px 25px black;
}

#bottom {
    font-size: 1.75rem;
    margin-top: -10px;
    text-shadow: 1px 1px 20px black;
}

p.intro {
    color: black;
    font-size: 1.25rem;
    font-weight: 400;
}

.main-head {
    font-family: 'Raleway', sans-serif;
	font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 1.5px;
}

.box {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

#key-findings.box {
    background-color: rgba(225, 192, 87, 0.50);
    padding: 20px;
    height:400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.big-number {
    width: 190px;
    height: 110px;
    /*border: 1px solid white;  */
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin-top: 10px;
    background-color: #e1c057;
}

.bn-descriptor {
    color: white;
    text-align: left;
    font-size: 1.5rem;
    line-height: 1.25;
    font-weight: 700;
}

p.bn {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 100;
    font-size: 5rem;
    color: #807885;
    padding: -5px 0 0 0;
    text-align: center;
    width: 190px;
    height: 80px;
    border-radius: 0 0 4px 4px;
    background-color: white;
}

/* to correct a letterspacing issue */
span {
    padding-left: 4px;
}

.col-lg-2 {
    padding: 0 0 0 20px;
    border-left: 10px solid #e1c057;
}

.timeline-Tweet  u-cf js-tweetIdInfo {
    padding: 20px;

}