

<!DOCTYPE html>
<div>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="icon" href="demo_icon.jpg" type="image/jpg" sizes="16x16">
  <title>Adopted children / England 2013-17</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
</head>

<body>
    <div>
    <img src={{ url_for ('static', filename='img/PhotobyJennEvelyn-AnnonUnsplash.jpg')}} alt='Children playing together in a supportive way'>
    </div>
    <div class="header">
        <p id="top">A statistical analysis of</p>
        <p id="mid">ADOPTED CHILDREN</p>
        <p id="bottom">in ENGLAND 2013-2017</p>
    </div>




    <div class="container">

        <div class="box">
{#            <p class="intro">#}
{#                <strong>Under the <a href="http://www.legislation.gov.uk/ukpga/1989/41/contents" target="_blank">Children Act 1989</a>, a child is legally defined as ‘looked after’ by a local authority if he or she:<br>#}
{#                • gets accommodation from the local authority for a continuous period of more than 24 hours<br>#}
{#                • is subject to a care order (to put the child into the care of the local authority)<br>#}
{#                • is subject to a placement order (to put the child up for adoption)</strong></p><br>#}

             <p class="intro"> This data covers the period from 1 April 2013 to 31 March 2017 in England. It records details of every child who has been placed with an adoptive family in each local authority area.</p>
         </div>

        <!-- menu select -->
      <div class="col-sm-4">
{#          <div class="chart-stage">#}
              <div id="menu-select">North East</div>
          <div id="menu-select-NW">North West</div>
{#          </div>#}
      </div>

      <!-- menu select -->










        <div class ="row">
          <div class="box" class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
             <div class="main-head"> data dashboard
             </div>



           <div class="big-number">
               Number of adopted children
               <div>
                   <p class="bn" id="total-adoptions-nd"></p>
               </div>
            </div>
           <div id="chart-row2"></div>
           <!--<div id="chart-row"></div>-->
           <div id="chart-bar"></div>

        </div> <!--end row-->
     </div> <!--end container-->

  <footer>
      <p class="small text-muted"> Data courtesy of <a href="https://www.gov.uk/government/collections/statistics-looked-after-children" target="blank"/>Department for Education</a></p>
     <p class="small text-muted"> Photo courtesy of Jenn Evelyn-Ann/Unsplash</p>
   </footer>



  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph2.js')}}"></script>

</body>
</html>