

<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ url_for ('static', filename="img/icon.jpg")}}" type="image/jpg" size="16x16">
  <title>Adopted children / England 2013-17</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static',
    filename='lib/css/keen-dashboards.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename="css/reset.css")}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/custom.css')}}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/introjs.css')}}" />
</head>

<body>
    <div>
      <img src={{ url_for ('static', filename='img/PhotobyJennEvelyn-AnnonUnsplash.jpg')}} alt="Children playing together in a supportive way">
    </div>
    <div id="header-box"></div>
      <div class="header">
          <p id="top">A statistical analysis of</p>
          <p id="mid">ADOPTED CHILDREN</p>
          <p id="bottom">in ENGLAND 2013-2017</p>
    </div>





    <div class="container row">

          <section class="box col-xs-12 col-sm-12 col-md-9">

             <div class="main-head" id="data-dashboard"> data dashboard </div>
             <p class="intro"> This data covers the period from 1 April 2013 to 31 March 2017 in England. It records details of every child who has been placed with an adoptive family in each local authority region and area. </p>
              <p class="intro">Take the tour to discover how to interact with the statistics<button type="button" autofocus onclick="javascript:introJs().start();">Start Tour</button></p>
            <div class="row">
                 <!-- menu selects -->

                    <div class="menu-select menu-select-thing col-sm-4" data-step="1" data-intro="Select the English region that you'd like to look at" style="font-weight: normal" data-position="right"><p class="select-title">Select by region</p></div>

                    <div class="area-select menu-select-thing col-sm-4" data-step="2" data-intro="Select the area you'd like to look at, either within the region you've already selected, or as a full-list alphabetically" style="font-weight: normal" data-position="right"><p class="select-title">Select by area</p></div>
                  <!-- menu selects -->

                <div class="big-number col-sm-8 col-md-8"data-step="3" data-intro="This figure will update relative to your selections" style="font-weight: normal" data-position="right" >
                   <p>Number of adopted children</p>
                       <p class="bn" id="total-adoptions-nd"></p>
                </div>
            </div>
               <div id="chart-row2" data-step="4" data-intro="Select individual or multiple years by clicking/tapping on the rows" style="font-weight: normal" data-position="right"></div>
               <div id="chart-bar" data-step="5" data-intro="Select and compare regions by clicking/tapping on the bars" style="font-weight: normal" data-position="right"></div>

          </section>


   <!--Twitter streaming-->
        <aside id="tweet-box" class="row col-sm-12 col-md-3">
            <div class="main-head"> twitter updates from UK agencies
            </div>
            <div id="tweet-left" class="col-sm-6 col-md-12 col-lg-12">
                <a href="https://www.adoptionuk.org/" target="blank"><img class="tweet-logo" src={{ url_for ('static', filename='img/AdoptionUK.jpg')}} alt="Adoption UK logo"></a>
                <p class="tweet">Adoption UK is a national charity run by and for adopters.</p>
                <a class="twitter-timeline"
                href="https://twitter.com/AdoptionUK?ref_src=twsrc%5Etfw"
                data-tweet-limit="1"
                data-chrome="nofooter">
                  Tweets by AdoptionUK
                </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <hr>
            <div class="col-sm-6 col-md-12 col-lg-12">
                <a href="http://www.coram.org.uk/" target="blank"><img class="tweet-logo" id="coram" src={{ url_for ('static', filename='img/coram.jpg')}} alt="Coram logo"></a>
                 <p class="tweet">Coram is committed to improving the lives of the UK’s most vulnerable children and young people.</p>
                <a class="twitter-timeline"
                href="https://twitter.com/Coram"
                data-tweet-limit="1"
                data-chrome="nofooter">
                {# Tweets by Coram#}

                </a>
                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </aside> <!--end  Twitter row-->
      </div> <!--end row-->



    <footer>
        <p class="small text-muted"> Data courtesy of <a href="https://www.gov.uk/government/collections/statistics-looked-after-children" target="blank">Department for Education</a></p>
        <p class="small text-muted"> Photo courtesy of <a href="https://unsplash.com/photos/UYDoE_AyJQs" target="blank">Jenn Evelyn-Ann/Unsplash</a></p>
   </footer>





  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/graph2.js')}}"></script>
  <script src="{{ url_for ('static', filename='js/intro.js')}}"></script>


</body>
</html>